body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    360deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(41, 170, 243, 0) 0%,
    rgba(0, 212, 255, 0.24693627450980393) 91%
  );
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
  }
h5{
    margin: 0;
}
a {
  text-decoration: none;
}

.container {
  margin: auto;
  width: 1000px;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

nav {
  font-size: 0;
  position: relative;
}

nav > ul > li {
  padding: 0 15px;
  position: relative;
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* identical to box height */

  color: #272d4e;
}

nav > ul > li > a {
  color: #272d4e;
  display: block;
  padding: 20px 0;
  border-bottom: 3px solid transparent;
  transition: all 0.3s ease;
}
nav > ul > li:hover > a {
  color: #444;
  border-bottom: 3px solid #444;
}

.mega-menu {
  margin-top: 1px;
  background: #00c4ec;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  position: absolute;
  left: 0;
  width: 100%;
  padding-bottom: 20px;
}
.mega-menu h3 {
  color: #444;
}

.mega-menu .container {
  display: flex;
}
.mega-menu .item {
  flex-grow: 1;
  margin: 0 10px;
}
.mega-menu .item img {
  width: 100%;
}
.mega-menu a {
  color: white;
  border-bottom: 1px solid #ddd;
  display: block;
  padding: 10px 0;
}
.mega-menu a:hover {
  color: #444;
}

.dropdown {
  position: static;
}

.dropdown:hover .mega-menu {
  visibility: visible;
  opacity: 1;
}

.dobra-1 {
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 4%;
}
.dobra-1__container_1 , h5 {
 
}
.dobra-1__container_2 {
  width: 100%;
}

.home-imagem {
  margin-top: -8%;
  width: 100%;
  height: 100%;
}
.titulo-pagina{

margin-top:3%;
font-weight: 700;
font-size: 57px;
line-height: 62px;
/* or 121% */
color: #272D4E;
}

.paragrafo-dobra1{
margin-top: 2.5%;
font-weight: 500;
font-size: 18px;
line-height: 25px;
/* or 139% */
color: #445468;
}